<div class="heading">
  <%= link_to back_button(nil), root_path, :class => "btn btn-custom btn-md pull-right" %>
</div>

<div class="small-gap"></div>

<div class="col-md-offset-1 col-md-6" >
  <div style="margin-left: 50px;">
    <div class="panel-heading panel-top-offset"><%= html_icon("lock") %> Edit Author Profile</div>
    
    <div class="panel-body" style="background-color: rgba(255,255,255,0.5);">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="inactive"><%= link_to html_icon("user") + "Edit Author Account", edit_admin_registration_path %></li>
        <li role="presentation" class="inactive"><%= link_to html_icon("file") + "Articles", admins_manage_articles_path %></li>
        <li role="presentation" class="active"><a href="#"><%= html_icon("picture") %> Photos &amp Artworks</a></li>
      </ul>  
    </div>

    <div class="panel-body panel-scrolling-big">
      <%= render @photos %>
    </div>
  </div>
</div>