<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="panel-body article-custom" id="parse-article">
	<p style="margin-top: 10px;"><%= html_icon("hand-right") %> <%= link_to rails_discussion.title, rails_discussion_path(rails_discussion) %>, updated <%= time_ago(rails_discussion) %> ago.</p>
	<p><%= markdown(truncate(rails_discussion.description, length: 100)) %>
	<%= link_to edit_button("Rails Discussion"), edit_rails_discussion_path(rails_discussion), :class => "btn btn-xs pull-right btn-custom" %>
	<%= link_to destroy_button("Rails Discussion"), rails_discussion_path(rails_discussion), method: :delete, :class => "btn btn-xs pull-right btn-offset"  %>
</div>