<div class="heading">
	<%= link_to back_button, articles_path, :class => "btn btn-custom btn-md pull-right" %>
</div>

<div class="small-gap"></div>

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="col-md-offset-1 col-md-6" >
	<div style="margin-left: 50px;">
		<div class="panel-heading panel-top-offset"><%= @article.title %> <span class="pull-right">Created <%= time_ago(@article) %> ago.</</span></div>
		<div class="panel-body panel-scrolling-medium custom-format"><p><%= markdown(@article.description) %></p>
		<%= link_to edit_button("Article"), edit_article_path(@article), :class => "btn btn-xs pull-right btn-custom" %>
		<%= link_to "Delete", article_path(@article), method: :delete, :class => "btn btn-custom btn-xs pull-right btn-offset", data: { confirm: "Are you sure?" } %>
		</div>

		<div class="panel-body" id="comment-heading">Add a Comments?</div>
		<div class="panel-body panel-scrolling-small" id="comments">Website Under Constuction</div>
	</div>
</div>