<div class="panel-body fb-logo">
	<%= image_tag('FB_logo.png') %> <a href="https://www.facebook.com/dragon.maximilian" class="custom"> Facebook : https://www.facebook.com/dragon.maximilian</a>
</div>
<div class="panel-body github-logo">
	<%= image_tag('Octocat.png') %> <a href="https://github.com/Maxwell-Alexius" class="custom"> GitHub : https://github.com/Maxwell-Alexius</a>
</div>
<div class="panel-body gmail-logo">
	<%= image_tag('gmail.png') %> <a href="mailto:destinydragon85614@gmail.com" class="custom"> Gmail : destinydragon85614@gmail.com</a>
</div>
<div class="panel-body yahoo-logo">
	<%= image_tag('yahoo.png') %> <a href="mailto:destinydragon0614@yahoo.com.tw" class="custom"> Yahoo Mail : destinydragon0614@yahoo.com</a>
</div>
<div class="panel-body LINE-logo">
	<%= image_tag('LINE.png') %> <a href="#" class="custom non-active"> LINE ID : maximilian614</a>
</div>