<div class="panel-body programming-icon">
	<h2>	<%= image_tag("programming-icon.png")%> Programming Experiences</h2>
	<hr>
	<div style="max-width: 90%; display: block; margin: 0 auto">
	<p>
		<%= markdown(%Q{
### Sharing Experiences is Another Good Practice
I started learning programming only about a year ago which I found interestng in it. There are a lot of things to share, and teaching others can help myself to know what I am learning. 

Recently I programmed with **Ruby on Rails**, since then I am very obsessed with Ruby Language, curious about how it worked, but leave it as a mystery as if there were magic inside the Ruby program, ha ha ~~. And I also planned try to write some article or tutorials about some programming that I learned in order to record how I worked on coding! Please enjoy! }) %>
	</p>
	</div>
</div>

<div class="panel-body programming-icon">
	<h2> <%= image_tag('programming-icon.png') %> Programming Basics</h2>
	<hr>
	<div style="max-width: 90%; display: block; margin: 0 auto">
	<p>
		<%= markdown(%Q{
### Coding Beginners, Hello!
Welcome to explore the world of the **computer science**! Learning programming is fun and coding is also a good way to solve many problems. The author may think that it is important to let people know the joy and the charm of programming.
This section will introduce **the fundamentals of programming** and several concept about programming. }) %>
	</p>
	</div>
</div>

<div class="panel-body ruby-lang-logo">
	<h2> <%= image_tag('ruby.png') %> Ruby Language Discussion</h2>
	<hr>
	<div style="max-width: 90%; display: block; margin: 0 auto">
	<p>
		<%= markdown(%Q{
### Interested in **Ruby**?
**[Ruby](https://www.ruby-lang.org/en/)** is created by **Yukihiro Matsumoto** in about year 1995. According to its creator, Ruby was influenced by **Perl**, **Smalltalk**, **Eiffel**, **Ada**, and **Lisp**. It supports multiple programming paradigms, including functional, object-oriented, and imperative. It also has a dynamic type system and automatic memory management.
The author of this blog will share and record the experience in Ruby Language programming in this section. }) %>
	</p>
	</div>	
</div>

<div class="panel-body rails-logo">
	<h2> <%= image_tag('rubyonrails.png') %> Rails Discussion</h2>
	<hr>
	<div style="max-width: 90%; display: block; margin: 0 auto">
	<p>
		<%= markdown(%Q{
### Welcome Abroad! 
#### **You are riding [Ruby on Rails](https://en.wikipedia.org/wiki/Ruby_on_Rails)!**
Since about ten years ago, **David Heinemeier Hansson** created this marvelous web framework which follows the rule of **Model-View-Controller**(**[MVC](https://en.wikipedia.org/wiki/Model–view–controller)**). 
It encourages and facilitates the use of web standards such as **JSON** or **XML** for data transfer, and **HTML**, **CSS** and **JavaScript** for display and user interfacing. 
In addition to MVC, Rails emphasizes the use of other well-known software engineering patterns and paradigms, including **convention over configuration (CoC)**, **don't repeat yourself (DRY)**, and the **active record pattern**.
This section will basically share some knowlegde and the authors experience on coding with Ruby on Rails }) %>
	</p>
	</div>
</div>

<div class="panel-body gem-icon">
	<h2> <%= image_tag('gem-icon.ico') %> Useful Ruby Gems</h2>
	<hr>
	<div style="max-width: 90%; display: block; margin: 0 auto">
	<p>
		<%= markdown(%Q{
### Advance Ruby with **Gems**
**[RubyGems](https://en.wikipedia.org/wiki/RubyGems)** are the **packages** or **libraries** of the Ruby Language, there are so many interesting Ruby Gems to explore. Gems are good helpers that can assist you in Ruby programming.
Even in Rails, there are useful Gems that will also be introduced in this section.
}) %>
	</p>
	</div>
</div>

<%= link_to view_button("View All Articles About Computer Science"), computer_science_path, :class => "btn btn-index pull-right" %>

