<div class="panel-body gem-icon">
	<%= image_tag("programming-icon.png") %> <%= link_to "Programming Experiences", programming_experiences_path, :class => "custom" %>
</div>
<div class="panel-body programming-icon">
	<%= image_tag('programming-icon.png') %> <%= link_to "Programming Basics", programming_basics_path, :class => "custom" %>
</div>
<div class="panel-body ruby-lang-logo">
	<%= image_tag('ruby.png') %> <%= link_to "Ruby Language", ruby_discussions_path, :class => "custom" %>
</div>
<div class="panel-body rails-logo">
	<%= image_tag('rubyonrails.png') %> <%= link_to "Ruby on Rails", rails_discussions_path, :class => "custom" %>
</div>
<div class="panel-body gem-icon">
	<%= image_tag('gem-icon.ico') %> <%= link_to "Ruby Gems", ruby_gems_path, :class => "custom" %>
</div>