<div class="heading">
	<%= link_to back_button(nil), root_path, :class => "btn btn-custom btn-md pull-right" %>
</div>

<div style="margin-bottom: 10px"></div>

<div class="row" style="margin-left: 40px">
	<div class="col-md-offset-1 col-md-3">
		<div class="panel-heading panel-top-offset" id="programming-icon"><%= image_tag("programming-icon.png") %> Programming Basics</div>
		<div class="panel-body panel-scrolling-origin">Hello again</div>
	</div>

	<div class="col-md-3">
		<div class="panel-heading panel-top-offset" id="ruby-icon"><%= image_tag("ruby-icon.png") %> Ruby Language</div>
		<div class="panel-body panel-scrolling-origin">Hello</div>
	</div>
</div>

<div class="row" style="margin-left: 40px">
	<div class="col-md-offset-1 col-md-3">
		<div class="panel-heading panel-top-offset" id="rails-icon"><%= image_tag("rails-icon.png") %> Ruby on Rails</div>
		<div class="panel-body panel-scrolling-origin">Hello again</div>
	</div>

	<div class="col-md-3">
		<div class="panel-heading panel-top-offset" id="gem-icon"><%= image_tag("gem-icon.ico") %> Useful Ruby Gems</div>
		<div class="panel-body panel-scrolling-origin">Hello</div>
	</div>
</div>