<div class="heading">
	<%= link_to back_button(nil), root_path, :class => "btn btn-custom btn-md pull-right" %>
	<% if admin_signed_in? %>
		<%= link_to new_button("Ruby Gem Discussion"), new_ruby_gem_path, :class => "btn btn-offset btn-custom btn-md pull-right" %>
		<%= link_to new_button("Rails Discussion"), new_rails_discussion_path, :class => "btn btn-offset btn-custom btn-md pull-right" %>
		<%= link_to new_button("Ruby Lang Discussion"), new_ruby_discussion_path, :class => "btn btn-offset btn-custom btn-md pull-right" %>
		<%= link_to new_button("Programming Basic"), new_programming_basic_path, :class => "btn btn-offset btn-custom btn-md pull-right" %>
		<%= link_to new_button("Programming Experience"), new_programming_experience_path, :class => "btn btn-offset btn-custom btn-md pull-right" %>
	<% end %>

</div>

<div class="small-gap"></div>

<div class="row" style="clear:both">

	<div class="col-md-2">
		<div class="side-list">

			<div class="panel-heading panel-top-offset" id="link-btn-1"><a href="#" id="ajax-btn-1">Programming Experiences</a></div>
			<div id="CS-1">
				<% @programming_experiences.each do |discussion| %>
					<div class="panel-body"><%= link_to discussion.title,programming_experience_path(discussion) %></div>
				<% end %>
			</div>

			<div class="panel-heading panel-top-offset" id="link-btn-2" style="border-radius: 0"><a href="#" id="ajax-btn-2">Programming Basics</a></div>
			<div id="CS-2">
				<% @programming_basics.each do |discussion| %>
				<div class="panel-body"><%= link_to discussion.title, programming_basic_path(discussion) %></div>
				<% end %>
			</div>

			<div class="panel-heading panel-top-offset" id="link-btn-3" style="border-radius: 0"><a href="#" id="ajax-btn-3">Ruby Language</a></div>
			<div id="CS-3">
				<% @ruby_discussions.each do |discussion| %>
				<div class="panel-body"><%= link_to discussion.title, ruby_discussion_path(discussion) %></div>
				<% end %>
			</div>
			
			<div class="panel-heading panel-top-offset" id="link-btn-4" style="border-radius: 0"><a href="#" id="ajax-btn-4">Ruby on Rails</a></div>
			<div id="CS-4">
				<% @rails_discussions.each do |discussion| %>
				<div class="panel-body"><%= link_to discussion.title, rails_discussion_path(discussion) %></div>
				<% end %>
			</div>
			
			<div class="panel-heading panel-top-offset" id="link-btn-5" style="border-radius: 0"><a href="#" id="ajax-btn-5">Ruby Gems</a></div>
			<div id="CS-5">
				<% @ruby_gems.each do |discussion| %>
				<div class="panel-body"><%= link_to discussion.title, ruby_gem_path(discussion) %></div>
				<% end %>
			</div>

		</div>
	</div>


	<div class="col-md-10">
		<div class="panel-heading panel-top-offset"><%= html_icon("paperclip") %> Maxwell's Photos &amp Artworks </div>
		<div style="margin-top: 10px"></div>
		<div id="discussions">
		<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
			<div id="wrapper">
				<div id="list">

					<% @programming_experiences.each do |discussion| %>
						<div class="item panel-body">
						<p style="display: block; margin: 0 auto; max-width: 90%; "><%= html_icon("console") %> <%= link_to discussion.title, discussion %>, updated <%= time_ago(discussion) %> ago.</p>
						<hr>
						<div class="markdown">
							<div class="index-format">
								<p><%= markdown(truncate(discussion.description, length: 500)) %></p>
							</div>
						</div>
						<hr>
						<%= link_to html_icon("eye-open") + "Read more", programming_experience_path(discussion), :class => "btn btn-xs pull-right btn-custom" %>
						<% if admin_signed_in? %>
							<%= link_to edit_button("Discussion"), edit_programming_experience_path(discussion), :class => "btn btn-xs pull-right btn-custom" %>
							<%= link_to destroy_button("Discussion"), edit_programming_experience_path(discussion), method: :delete, :class => "btn btn-xs pull-right btn-offset"  %>
						<% end %>
						</div>
					<% end %>

					<% @programming_basics.each do |discussion| %>
					<div class="item panel-body">
						<p style="display: block; margin: 0 auto; max-width: 90%; "><%= html_icon("console") %> <%= link_to discussion.title, discussion %>, updated <%= time_ago(discussion) %> ago.</p>
						<hr>
						<div class="markdown">
							<div class="index-format">
								<p><%= markdown(truncate(discussion.description, length: 500)) %></p>
							</div>
						</div>
						<hr>
						<%= link_to html_icon("eye-open") + "Read more", programming_basic_path(discussion), :class => "btn btn-xs pull-right btn-custom" %>
						<% if admin_signed_in? %>
							<%= link_to edit_button("Discussion"), edit_programming_basic_path(discussion), :class => "btn btn-xs pull-right btn-custom" %>
							<%= link_to destroy_button("Discussion"), edit_programming_basic_path(discussion), method: :delete, :class => "btn btn-xs pull-right btn-offset"  %>
						<% end %>
						</div>
					<% end %>

					<% @ruby_discussions.each do |discussion| %>
					<div class="item panel-body">
						<p style="display: block; margin: 0 auto; max-width: 90%; "><%= html_icon("console") %> <%= link_to discussion.title, discussion %>, updated <%= time_ago(discussion) %> ago.</p>
						<hr>
						<div class="markdown">
							<div class="index-format">
								<p><%= markdown(truncate(discussion.description, length: 500)) %></p>
							</div>
						</div>
						<hr>
						<%= link_to html_icon("eye-open") + "Read more", ruby_discussion_path(discussion), :class => "btn btn-xs pull-right btn-custom" %>
						<% if admin_signed_in? %>
							<%= link_to edit_button("Discussion"), edit_ruby_discussion_path(discussion), :class => "btn btn-xs pull-right btn-custom" %>
							<%= link_to destroy_button("Discussion"), edit_ruby_discussion_path(discussion), method: :delete, :class => "btn btn-xs pull-right btn-offset"  %>
						<% end %>
						</div>
					<% end %>

					<% @rails_discussions.each do |discussion| %>
					<div class="item panel-body">
						<p style="display: block; margin: 0 auto; max-width: 90%; "><%= html_icon("console") %> <%= link_to discussion.title, discussion %>, updated <%= time_ago(discussion) %> ago.</p>
						<hr>
						<div class="markdown">
							<div class="index-format">
								<p><%= markdown(truncate(discussion.description, length: 500)) %></p>
							</div>
						</div>
						<hr>
						<%= link_to html_icon("eye-open") + "Read more", rails_discussion_path(discussion), :class => "btn btn-xs pull-right btn-custom" %>
						<% if admin_signed_in? %>
							<%= link_to edit_button("Discussion"), edit_rails_discussion_path(discussion), :class => "btn btn-xs pull-right btn-custom" %>
							<%= link_to destroy_button("Discussion"), edit_rails_discussion_path(discussion), method: :delete, :class => "btn btn-xs pull-right btn-offset"  %>
						<% end %>
						</div>
					<% end %>

					<% @ruby_gems.each do |discussion| %>
					<div class="item panel-body">
						<p style="display: block; margin: 0 auto; max-width: 90%; "><%= html_icon("console") %> <%= link_to discussion.title, discussion %>, updated <%= time_ago(discussion) %> ago.</p>
						<hr>
						<div class="markdown">
							<div class="index-format">
								<p><%= markdown(truncate(discussion.description, length: 500)) %></p>
							</div>
						</div>
						<hr>
						<%= link_to html_icon("eye-open") + "Read more", ruby_gem_path(discussion), :class => "btn btn-xs pull-right btn-custom" %>
						<% if admin_signed_in? %>
							<%= link_to edit_button("Discussion"), edit_ruby_gem_path(discussion), :class => "btn btn-xs pull-right btn-custom" %>
							<%= link_to destroy_button("Discussion"), edit_ruby_gem_path(discussion), method: :delete, :class => "btn btn-xs pull-right btn-offset"  %>
						<% end %>
						</div>
					<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

