<div class="heading">
	<h1><span>Maxwell's Home</span></h1>
</div>

<div class="small-gap"></div>

<div class="row">
	
	<div class="col-md-6" style="margin-left: 170px;">
		<div class="panel">
			<div class="panel-heading"><%= html_icon("knight") %> About Me</div>
			<div class="panel-body"><%= render 'home/about', author: Admin.first %></div>
		</div>
	</div>

</div>

<!-- New Main Row -->
	
<div class="row">

	<div class="col-md-3" style="margin-left: 170px;">
		<div class="panel">
			<div class="panel-heading"><%= html_icon("apple") %> Life Experience </div>
			<div class="panel-body panel-scrolling-medium"><%= render 'articles/update_content' %></div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="panel">
			<div class="panel-heading"><%= html_icon("picture") %> Photos &amp Artworks </div>
			<div class="panel-body panel-scrolling-medium"><%= render 'photos/update_content' %></div>
		</div>
	</div>

</div>

<!-- New Main Row -->

<div class="row">

	<div class="col-md-3" style="margin-left: 170px;">
		<div class="panel">
			<div class="panel-heading"><%= html_icon("console") %> Computer Science </div>
			<div class="panel-body panel-scrolling-medium"><%= render 'home/lang_index' %></div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="panel">
			<div class="panel-heading"><%= html_icon("envelope") %> Contact Me?</div>
			<div class="panel-body panel-scrolling-medium"><%= render 'home/contact' %></div>
		</div>
	</div>

</div>

