<%= simple_form_for photo do |f| %>
	<div class="form-group">
		<%= f.input :title, autofocus: true, input_html: { :class => "form-control", :style => "background-color: transparent" } %>
		<%= f.input :description ,input_html: { :class => "form-control", :style => "background-color: transparent", :rows => 12 } %>
 		<%= f.input :image_file, as: :file, input_html: { :class => "form-control", :style => "background-color: transparent" } %>
	</div>
	<%= f.submit "Submit", :class => "btn btn-primary pull-right", data: { disable_with: "Submitting..." } %>
<% end %>