<div class="panel-body" id="parse-photo">
	<p><%= image_tag photo.url %></p>
	<p><%= html_icon("paperclip") %> <%= link_to photo.title, photo_path(photo) %>, updated <%= time_ago(photo) %> ago.</p>
	<div class="markdown">
		<p><%= markdown(truncate(photo.description, length: 500)) %></p>
	</div>
	<%= link_to "Read more", photo_path(photo) %>
</div>