<div id="wrapper">
	<div id="list">
			
			<% Photo.order('created_at DESC').each.with_index do |photo, index| %>
				
				<div class="item">
					<%= link_to (image_tag photo.url, style: "max-width: 95%; margin: 0 auto; display: block"), photo_path(photo) %>

					<p> 
						<%= html_icon("bookmark") %> <%= link_to photo.title, photo_path(photo), :class => "custom" %> <br>
						created at <%= photo.created_at.to_s(:short) %>
					</p>
				</div>

			<% end %>

	</div>
</div>
		<%= link_to view_button("Photos & Artworks"), photos_path, :class => "btn pull-right btn-index" %>
