<div class="heading">
	<%= link_to back_button(nil), root_path, :class => "btn btn-custom btn-md pull-right" %>
	<% if admin_signed_in? %>
		<%= link_to new_button("Photo or Artwork"), new_photo_path, :class => "btn btn-offset btn-custom btn-md pull-right" %>
	<% end %>
</div>

<div class="small-gap"></div>


<div class="row" style="clear:both">
	<div class="col-md-2">
		<div class="side-list">
			<div class="panel-heading panel-top-offset">Lists of Photos &amp Artworks</div>
			<% Photo.order("updated_at DESC").each do |photo| %>
				<div class="panel-body"><%= link_to photo.title, photo_path(photo) %></div>
			<% end %>
		</div>
	</div>

	<div class="col-md-10">
		<div class="panel-heading panel-top-offset"><%= html_icon("paperclip") %> Maxwell's Photos &amp Artworks </div>
		<div style="margin-top: 10px"></div>
		<div id="photos">
			<div id="wrapper">
				<div id="list"><%= render @photos %></div>
			</div>
		</div>
	</div>
</div>