<div class="heading">
	<%= link_to back_button(nil), photos_path, :class => "btn btn-custom btn-md pull-right" %>
</div>

<div class="small-gap"></div>

<div class="col-md-offset-1 col-md-6" >
	<div style="margin-left: 50px;">
		<div class="panel-heading panel-top-offset"><%= html_icon("tag") %> <%= @photo.title %><div class="pull-right">Created <%= time_ago(@photo) %> ago.</div></div>
		<div class="panel-body custom-format" id="parse-photo">
			<div class="small-gap"></div>
			<%= image_tag @photo.url %>
				<p class="markdown"><%= markdown(@photo.description) %></p>
			<% if admin_signed_in? %>
				<%= link_to edit_button("Photo or Artwork") ,edit_photo_path(@photo), :class => "btn btn-xs pull-right btn-custom" %>
				<%= link_to destroy_button("Photo or Artwork"), photo_path(@photo), method: :delete, :class => "btn btn-custom btn-xs pull-right btn-offset", data: { confirm: "Are you sure?" } %>
			<% end %>
		</div>

		<%= render 'comments/section' %>

	</div>
</div>