<div class="heading">
	<%= link_to back_button(nil), programming_experiences_path, :class => "btn btn-custom btn-md pull-right" %>
</div>

<div class="small-gap"></div>

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="col-md-offset-1 col-md-6" >
	<div class="row">
		<div class="col-md-offset-1 col-md-11">

				<div class="panel-heading panel-top-offset"><%= html_icon("tag") %> <%= @discussion.title %> <span class="pull-right">Created <%= time_ago(@discussion) %> ago.</</span></div>
				<div class="panel-body article-custom"><p class="markdown"><%= markdown(@discussion.description) %></p>
				<% if admin_signed_in? %>
					<%= link_to edit_button("Programming Experience"), edit_programming_experience_path(@discussion), :class => "btn btn-xs pull-right btn-custom" %>
					<%= link_to destroy_button("programming Experience"), programming_experience_path(@discussion), method: :delete, :class => "btn btn-custom btn-xs pull-right btn-offset", data: { confirm: "Are you sure?" } %>
				<% end %>
				</div>

				<%= render 'comments/section' %>

		</div>
	</div>
</div>